extends layout.pug 

block number1  
    if sucess 
        p Good job
        
    a(class='add-search' href='/search') Add a review

    article.reviews 
        if reviews.length
            each review in reviews 
                a.item
                    div
                        figure
                        h1 #{ review.title }
                        h2 #{ review.year }
                        h3 #{ review.name }
                    div
                        i(class='fa-solid fa-star')
                        span 5
                    div
                        h1 Short description
                        p Some text
                    p.more More
                     
                    a(class='btn update' href='/update') 
                        span.text-gradient 
                            i(class='fa-solid fa-pen')
                    
                    a(class='btn delete') 
                        span.text-gradient 
                            i(class='fa-solid fa-xmark')
                    
        else
            p No reviews for now
            
        