doctype html
html(lang = "en")
    head 
        title Book review app
        link(rel="stylesheet", href="/static/styles.css")
    body
        div.wrapper
            h1.logo Bookiv 

            block number1 